SourceCode/Configuration/B1.Configuration/DbSetupConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="DbSetupConfigurations">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="DbSetupConfig">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Params">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="Param">
                                            <xs:complexType>
                                                <xs:attribute name="ParamKey" type="xs:string" use="required" />
                                                <xs:attribute name="ParamValue" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="DbSetupKey" type="xs:string" use="required" />
                        <xs:attribute name="DbServer" type="xs:string" use="required" />
                        <xs:attribute name="DbName" type="xs:string" use="required" />
                        <xs:attribute name="DbType" type="xs:string" use="required" />
                        <xs:attribute name="UserName" type="xs:string" use="required" />
                        <xs:attribute name="UserPassword" type="xs:string" use="required" />
                        <xs:attribute name="InputFileName" type="xs:string" use="required" />
                        <xs:attribute name="OutputFileName" type="xs:string" use="required" />
                        <xs:attribute name="DDLSourceDirectory" type="xs:string" use="required" />
                        <xs:attribute name="AsSysDba" type="xs:string" use="required" />
                        <xs:attribute name="TextEditor" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>