SourceCode/Configuration/B1.Configuration/ObjectFactoryConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ObjectFactories">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ObjectFactory" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="ObjectKey" type="xs:string" use="required" />
                        <xs:attribute name="ObjectClass" type="xs:string" use="required" />
                        <xs:attribute name="AssemblyPath" type="xs:string" use="required" />
                        <xs:attribute name="AssemblyName" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>